@media screen and (min-width: 360px) {
    .wrapper{
        border-bottom: 1px solid black;

    }
    .info ul{
        padding-left: 25%;
        margin: 0;
        list-style: none;
    }
    .RegistratieFoto{
        height:  200px
    }
}


@media screen and (min-width: 480px) {
    .wrapper{
        border-bottom: 1px solid black;
        vertical-align: top;
    }
    .RegistratieFoto{
        margin: inherit;
        display: inline-block;
        height: 200px;


    }
    .info{
        display: inline-block;
        width: 200px;
        vertical-align: top;
        margin-top: 20px;
    }

    .info ul{
        padding: 0px;
        margin-bottom:10px;

    }


}

@media (min-width: 768px)
{
    .dateInput {
        padding: 0px;
    }
    #dayInput{
        padding-left: 15px;
    }
}

@media screen and (min-width: 600px) {


}

@media screen and (min-width: 1024px) {
    .RegistratieFoto {
        display: block;
    }
    .info{
        display: block;
    }
    .wrapper{
        border-bottom: none
    }
    .dateInput {
        padding: 0px;
    }
    #dayInput{
        padding-left: 15px;
    }
    .RegistratieFoto{
        height:  150px
    }
}

.wrapper img{
    width: 100%;
    max-width: 300px;
    margin: 0px auto;
    display: block;
}
